.container {
    margin: 0 auto;
    padding: 0px 15px 0 15px
}


/* Menu section */
label #btn {
    left: 6px;
    top: 28px;
    font-size: 8px;
    color: white;
    padding: 6px 8px;
    transition: all 0.5s;
}

.sidebar {
    width: 243px;
}

/* Navbar Section */

.nevbar-section .container ul {
    margin-bottom: 12px;
}

.div-nav {
    display: flex;
    justify-content: unset;
}

.ecom-heading {
    display: flex;
    justify-content: 0;
}

.btn-right {
    margin-left: 40.5rem;
}

.nav-right-section {
    margin-left: 32rem;
}

.only-left {
    margin-left: 1.5rem;
}

.align-item {
    padding: 15px;
}

.align-item img {
    margin-left: -15px;
    margin-right: -10px;
}

.leftside-first {
    gap: 1rem;
}

/* title of dashboard */

/* first section */
.third-img {
    width: 18rem;
}

.p-align {
    margin-left: 4.5rem;
}

.p-align2 {
    margin-left: 2rem;
}

.btn2 {
    margin-left: 3em;
}



.createspace3 {
    margin-left: 0rem;
}

/* second section */

/* third section */


.three-card {
    gap: 2rem;
}

/* fourth section */

.ul-flex-response {
    grid-template-columns: repeat(6, 1fr);
    gap: 0.2rem;
    margin-top: 21px;
}

.third-shadow-left {
    width: 22rem;
    height: 36rem;
}

.third-shadow-right {
    gap: 33px;
}

.avg-p2 {
    margin-left: 0.7rem;
}

.right-response {
    text-align: left;
    margin-left: 10px
}

.qtv-responsive {
    margin-right: 10px;
}


/* Table Responsive */

table {
    border-spacing: 0px;
}

.table2 th,
td {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 21.5px;
    text-wrap: nowrap;
}

th,
td {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 31px;
    padding-right: 16.5px;
    text-wrap: nowrap;
}

#check-right-responsive {
    display: none;
}

.open-menu,
.close-menu {
    display: none;
}

.div-nav {
    gap: 70px;
    margin-top: 3px;
}